html {
    font-family: sans-serif;
    font-size: 14px;
}

img.google-logo {
    margin: 0 auto;
    display: flex;
}

form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.input-group {
    display: flex;
    align-items: center;
    padding: 28px 35px;
}

img.search-icon {
    position: relative;
    left: 40px;
    top: 2px
}

input#search-bar{
    width: 584px;
    padding: 15px 50px;
    border-radius: 50px;
    outline: none;
    border: 1px solid lightgrey;
}

input#search-bar:hover {
    box-shadow: 0 0 1px 1px #80808073;
}

img.search-mic {
    position: relative;
    right: 40px;
    top: 2px;
}

div.buttons-form > button {
    width: 140px;
    height: 36px;
    border: none;
}

div.buttons-form >   button:first-of-type {
    margin-right: 15px;
}

.nav-lists {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-lists li,
.info li,
.carbon li,
.preferences li {
    list-style: none;
    margin: 8px;
}

.nav-lists li a,
.info li a,
.carbon li a,
.preferences li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-lists li a:hover,
.info li a:hover,
.carbon li a:hover,
.preferences li a:hover  {
    text-decoration: underline;
}

.info,
.carbon,
.preferences {
    padding: 0;
    display: flex;
}

.footer-list {
    border-top: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
}

.info li a,
.carbon li a,
.preferences li a,
.country {
    color: grey;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
}

footer {
    background-color: #d3d3d347;
}

.footer-list, .country {
    padding: 0 25px;
}

.carbon img {
    width: 12px;
}

.footer-list ul {
    margin: 6px;
}

.profile {
    padding-right: 10px;
}